*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

button{
    padding: 10px;
    font-size: large;
    border-radius: 15px;
    background-color: black;
    color: white;
    box-shadow: 1 3 5px blue;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #555;
}